
/* -*- mode: css; buffer-read-only: t; -*-
 *
 * (C) Copyright 2004-2013 M E Leypold
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

  .text-tags  { display: none; background: blue ; }
  .figure     { float:right; margin:1ex; margin-top:0em; margin-right:0px; margin-left: 0.5em; 
                padding:2ex; padding-top: 0px; padding-bottom:0px;
                border:2px solid silver;
              }

  /* -- STYLE --------------------------------------------------- */

  body { 
    background-color:#F0F0F0;  
    color: black; 
    font-family:Helvetica,Arial,sans-serif;
    margin:0px;
    margin-top:20px;
    margin-left:30px;
    padding:0px;
  }



  h2 { color:grey;
       font-size:120%;
       background-color:#d8e0ff;
       margin:  0pt;
       padding:1ex;
       padding-left:20px;
       padding-top: 0pt;
       margin-bottom:0.5em; 
     }

  .taglist   { background:#F0F0F0; 
               display:inline; 
               color:grey; 
               font-size: 80%; 
               text-align:left; 
               float:right;
               margin-right:-2em;            
             }
  .taglist a { display:inline; }

  .taglist2  { background:#F0F0F0; 
               color:grey; 
               font-size: 80%; 
               text-align:left; 
               float:right;
               margin: 1ex;
               margin-left: 1em;
               margin-right: 1em;            
               padding-right: 0.3ex;
             }



  .taglist2i  { background:#F0F0F0; 
                color:grey; 
                font-size: 75%; 
                text-align:left; 
                float:right;
                margin-left: 1em;
                margin-right: 1em;           
                padding-right: 0.3ex;
             }

  .taglist2i a{
      color:grey; 
      font-weight:normal;
      text-decoration:none;
      margin:0px;
      padding:0px;
      padding-left:3px;
      padding-right:3px;
      border:2px solid transparent;
  }



  .article-date   { display:inline; 
                    color:grey; 
                    font-size: 80%; 
                    margin-left:20px;        
             }


  h3                      { margin:0px; padding:0px; line-height:100%; margin-top:1.5em; } /* same as for blog above */ 
  h3                      { color:#5060a0; line-height:110%; font-size:120% }

  h4                      { margin:0px; padding:0px; line-height:100%; margin-top:1.5em; margin-bottom:0.7em; } 
  h4                      { color:#5060a0; line-height:110%; font-size:100% }



  h5                      { color:#5060a0; line-height:110%; font-size:80% }

  h5                      { margin:0px;padding:0px;margin-top:1.5em;margin-bottom:0px;
                          }



  .example {
      padding:2ex;
      padding-right:1ex;
      padding-left: 1em;
      background-color: #508050;
      color: #D8FFD8;
      font-family:Courier;
      font-weight: bold;
      font-size: 100%;
      text-shadow: #A0B8A0 0px 0px 1px, #A0B8A0 0px 0px 10px;
  }


  .newsticker h3 {
      padding-left: 2ex;
      border-left: 20px solid #6070F0;
      font-size: 100%;
  }

  .newsticker .news-date {
      font-weight: normal;
  }

  .newsticker .taglist2i {
      font-size: 80%;
  }

  .newsticker h3 a {
      text-decoration:none;
      color:#5060a0
  }

  .newsticker p {
      margin-bottom: 0px;
      margin-top: 1ex;
  }

  .arrow {
      height:0px;
      width:0px;
      font-size:0px;
      vertical-align:middle;
      background-color:transparent;
      border-left:   15px solid #6070F0;
      border-top:    5px solid transparent;
      border-bottom: 5px solid transparent;
      margin-left: 7px;
  }

  .no-css { display:none; }

#column-main { margin-right: 40px; }

/* This is not going well with other staling => DEACTIVATED FTM

#page-author { background: #F00000; 
               display:block; 
               color:grey;
               background-color:#d8e0ff;
               margin:  0pt;
               padding:1ex;
               padding-left:20px;
               padding-top: 0pt;
               margin-bottom:0.5em;
             }

h2 {
    padding-bottom: 0pt;
    margin-bottom: 0pt; 
}

*/

#site-title { 
    font-size:        150%; 
    background-color: #d8e0ff;        
    display:          block;   /* fills column */
    margin:           0pt;
    padding:          1ex;
    padding-left:     20px;    
}

#column-left { 
    float:left; 
    margin-left: 10px; 
}

#column-main     { margin-left:140px; }
#column-left-top { position:fixed;    }

#menu a              { display: block; }  /* reformat menu as sequence of blocks */
#menu                { float: right; }    /* and float it right */

.menu-separator      { border-top: 1px solid silver; display:block; }
.menu-separator-text { display:none; }

#menu
{
    /* width:auto; */                /* UNCLEAR what this does */
    margin-right:   40px;            /* CONSISTENCY with other lengths? */
}

#menu
{
    /* max-width:      15em; */      /* UNCLEAR what this does/did */
    margin-left:2em;
    margin-bottom:2em;
    margin-top:         0px;

    padding:5px;
    border-left: 2px solid #f0f0f0; /* required, else page-header runs into menu. TODO: Move to styling section? */
    background-color: #d8e0ff;       
}

#menu{
  /* border:none; */ /* move that to last section? */
  font-size:90%;
  padding:5px;
}

#menu a{
  text-decoration:none;
  font-weight:bold;
  color:blue;
  margin:0px;
  padding:0px;
  padding-left:3px;
  padding-right:3px;
  border:2px solid transparent;
}


#menu a:focus, #menu a:hover, #menu a:active{
  background-color:white;
}

#menu a:focus{
  border-color:#a00000;
}


#menu a:hover{
  border-top-color:white;
  border-left-color:white;
  border-bottom-color:#a0a0a0;
  border-right-color:#a0a0a0;
}

#menu a:active{
  border-top-color:#a0a0a0;
  border-left-color:#a0a0a0;
  border-bottom-color:white;
  border-right-color:white;
}


/* IE6 fixes */


* html #menu a{
  padding:2px;padding-left:5px;padding-right:5px;
  border-width:0px;
}

* html #menu a:active, * html #menu a:hover, * html #menu a:focus{
  padding:0px;padding-left:3px;padding-right:3px;
  border-width:2px;
}

#page-footer
{ 
    border-top:     2px solid silver;
    clear:          both; 
    margin-top:     0.5em;                  

    padding-bottom: 3em;
    margin-top:     3em;
}

#page-footer-content a  
{
    text-decoration:  none;
    margin-left:      0em;   /* only required w/o nav-links styling */
    font-weight:      normal;
}

#page-footer-content
{ 
    float:            right;
    margin-left:      1em;
}

#page-footer-separator hr 
{ 
    display:none; 
}

#page-footer-separator 
{ 
    background-color:  #c0c0c0; 
    min-height:        2px; 
    display:           block; 
    display:           none;     /* actually this option to create a rule is not used */
}

/*                                                              -*- mode:c -*-
 *
 * A flashy link style.
 *
 *
 *
 */


/* a       { color:blue;text-decoration:underline;            } */
a          { text-decoration:none; }
a          { font-weight:bold; } 
a          { border:4px solid transparent;                    }
a          { border-left-style:none; border-right-style:none; }
a:visited  { text-decoration:none; } 
/* a:visited  { font-weight:normal; color:darkblue; } */

a:visited  { color:#5060a0; }
     

/* a:link  { } */

a:hover    { background-color:#c0c0ff; }
a:focus    { background-color:#c0c0ff; 
             border-color:#c00000; 
           }

a:visited:hover { background-color:#E0E0F5; }

a:active   { border-color:#c0c0ff; } 

/* it is recommended to either change the  border width to 2px or less or 
   change the border-color to the button color.
*/


/* IE6 fix:
 *  
 *


 */

/*
* html a {
  border-width:0px;
}
*/

#menu a:hover     {  background-color:#ffe000; }
#menu a:active    {  background-color:#ffe000; }


/*

a                 { border-color:transparent; }

a          { text-decoration:underline;border:4px,solid,transparent;
             border-left-style:none; border-right-style:none;
           }
*/


a:hover           { background-color:#ffe000; }
a:focus           { background-color:#ffe000; border-color:transparent; }             
a:active          { border-color:#ffe000;     }

.nav-links a
{
    border:        2px solid transparent;

    margin:        0px;
    padding:       0px;
    padding-left:  3px;
    padding-right: 3px;

    /* font-size:        90%; */
    text-decoration:  none;
    font-weight:      bold;

    color:blue;
}

.nav-links a:focus, 
.nav-links a:hover, 

/*
.nav-links a:active
{
  background-color: white;
}
*/

.nav-links a:focus
{
    border-color: #a00000;
}

.nav-links a:hover
{
    border-top-color:     white;
    border-left-color:    white;
    border-bottom-color:  #a0a0a0;
    border-right-color:   #a0a0a0;
}

.nav-links a:active
{
  border-top-color:       #a0a0a0;
  border-left-color:      #a0a0a0;
  border-bottom-color:    white;
  border-right-color:     white;
}
