{% comment %}
  (C) Copyright 2004-2013 M E Leypold      
  This program or template is free software: you can redistribute it and/or modify it under
  the terms of the GNU General Public License as published by the Free Software Foundation,
  either version 3 of the License, or (at your option) any later version.
  
  This program or template is distributed in the hope that it will be useful, but WITHOUT
  ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
  PARTICULAR PURPOSE.  See the GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License along with this program
  or template.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
<?xml version="1.0" encoding="utf-8"?>
<!-- (C) Content is Copyright M E Leypold. All rights reserved.

         Layout and Design are Coypright M E Leypold. 

         The templates to create the layout have been released to the public under the
         GPL, see http://github.com/m-e-leypold/m-e-leypold.github.io.
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title> {{ page.title }} @ {{ site.title }}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="generated" content="<{{ date }}>"/>
    <link rel="stylesheet" type="text/css" href="/site.css" />
  </head>
  <body id="pagebody" class="body page-background-colors"
        marginwidth="50" 
        marginheight="50"
        topmargin="50"
        leftmargin="50" 
        bgcolor="#F0F0F0"  >
     <div id="column-left">      
       <div id="column-left-top">
         <img src="/logo.png" alt=" " id="logo-img" border="0"/>
       </div>
       <div id="column-left-bottom">  </div>
     </div>
     <div id="menu" class="color-scheme-top nav-links">
       <a href="/index.html">Willkommen</a>
       <a href="/blog.html">Blog</a>
       <a href="/projects.html">Projekte</a>
       <a href="/articles.html">Texte</a>
       <span class="menu-separator"><span class="menu-separator-text">&#160;--&#160;</span></span>
       <a href="/teachswt.html">TeachSWT</a>
       <!-- <a href="/news.html">Aktuelles</a>  -->
       <!-- <a href="/articles/index.html">Texte</a> -->
       <!-- <a href="/bookmarks">Bookmarks</a> -->
       <!-- <a href="/books">Bücher</a> -->
       <span class="menu-separator"><span class="menu-separator-text">&#160;--&#160;</span></span>
       <a href="/about.html#kontakt">Kontakt</a>
     </div>
     <div id="column-main">
     
       <div class="column-main-top">
         <b id="site-title">{{ site.title }}</b>
         <div class="no-css">&nbsp;</div>
       </div>
     
       <h2>{{ page.title }}</h2> 
       {% if page.author %}
          <span id="page-author">by {{ page.author }}</span>
       {% endif %}
     
       {{ content }}        
     
       <div id="page-footer">
         <div id="page-footer-separator"><hr/></div>      
         <div id="page-footer-content" class="nav-links">
           <a href="/about.html#copyright">Copyright</a>
           <a href="/about.html#impressum">Impressum</a>
         </div>  <!-- page-footer-content -->                     
       </div>  <!-- page-footer -->                     
     
     </div>  <!-- column-main -->         
   </body>
</html>
